body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 body::-webkit-scrollbar {
  display: none;
} 

 ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} 

#wishlist {
  display: none;
}

#card:hover #wishlist {
  transition: all .8s ease-in-out;
  display: block;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://raw.githubusercontent.com/velomad/rnb-client/main/client/public/logo192.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}



.stage {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
} */

/* ::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiFilledInput-input {
  padding: 9px 12px 10px !important;
}
.MuiAutocomplete-inputRoot {
  padding: 0px !important;
}
.overflow-y-scroll::-webkit-scrollbar {
  display: none !important;
}
* :focus {
  outline:none !important
}



/* ::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */
.drawer_bg{
  background: #fafbfc;
}

.MuiDialog-scrollPaper {
  display: flex;
  justify-content: flex-end !important;
}


@media screen and (min-width: 768px){
.swiper-container {
    width: 95% !important;
}
}

